@font-face {
  font-family: 'WorkSans-Light';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('WorkSans-Light'),
    url('../fonts/WorkSans-Light.woff2') format('woff2'),
    url('../fonts/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Medium';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('WorkSans-Medium'),
    url('../fonts/WorkSans-Medium.woff2') format('woff2'),
    url('../fonts/WorkSans-Medium.woff') format('woff');
}

