@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.base {
  max-width: 364px;
  padding: 20px 20px;
  background-color: $dark;

  &__display {
    padding-bottom: 16px;
    text-align: center;
    font-size: 96px;
    line-height: 1;
  }

  &__controls-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }

  &__item {

    &:nth-child(1) {
      grid-column: span 2;
    }

    &:nth-child(16) {
      grid-column: span 3;
    }

    &-btn {
      padding: 12px 12px;
      border-radius: 24px;
      width: 100%;
      background-color: $LowEmphasis;
      transition: background-color 0.1s;

      &:hover {
        background-color: $MediumEmphasis;
      }

      &:active {
        background-color: $LowEmphasis;
      }

      &--blue {
        background-color: $HighEmphasis;
      }
    }
  }
}