@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
}
